.header{
	height: 64px;
	width: 100%;
	background: #000;
	position: fixed;
	z-index: 999;
	opacity: 0.9;
}
.wclimb-logo {
	display: block;
	float: left;
	width: 300px;
	margin:-2px 0 0  80px;
}
.wclimb-logo img{
	height: 66px;
}
#menu { 
	margin: 0;
 	padding: 0;
  	list-style-type: none; 
  	z-index: 70;
  	float: right;
  	margin:10px 30px 10px 10px;
}
#menu li { 
	float: left; 
	margin:  0 10px 0 0; 
	font-size: 20px;
	background: #000;
}
#menu a { 
	float: left;
	padding: 10px 20px;
	background: #000;
	border: none; 
	color: #fff; 
	font-weight: 600;
	text-decoration: none;
}
#menu .active a { 
	color: #2A5ABE;
	 background-color: #000;
}
.section { 
	text-align: center;
 	font: 50px "Microsoft Yahei";
  	color: #fff;
}
.page-1{
	background: url(../images/home-bg.jpg) no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;  
  	-webkit-background-size: 100% 100%;    
}
.page-2{
	background: url(../images/header-bg1.jpg) no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;  
  	-webkit-background-size: 100% 100%;    
}
.page-3{
	background: url(../images/achivements-bg.jpg) no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;  
  	-webkit-background-size: 100% 100%;    
}
.page-4{
	background: url(../images/contact-bg.jpg) no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;  
  	-webkit-background-size: 100% 100%;    
}
.page-1 h4{
	color: #32CAFD;
}
.page1-h6{
	margin-top:30px;
	font-size: 34px;
	padding-bottom: 30px;
}
.page-1 h6{
	font-weight: 500;
	color: #000;
	margin-top: 10px;
}
.page-1-content{
	margin: 210px 0 0 30px;
}

.let-begin1,.let-begin2,.let-begin3{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../images/arrow.png) no-repeat 0 -60px;
	transform: scale(1);
	transition: all 0.3s;
}
.let-begin4{
	display: block;
	width: 80px;
	height: 80px;
	background: url(../images/arrow.png) no-repeat -60px 0;
	transform: scale(1);
	transition: all 0.3s;
	margin: 0 auto;
}
.let-begin4:hover{
	transform: scale(1.1);
}
.let-begin1:hover,.let-begin2:hover,.let-begin3:hover{
	transform: scale(1.1);
}
.let-begin1{
	margin:30px auto;
}
.let-begin2{
	margin:0 auto ;
}
.let-begin3{
	margin:0 auto;
}
.let-begin1:hover{
	/*background: url(./images/arrow.png) no-repeat 0 0px;*/
}
#loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
	z-index: 9999;
}
#loading div{
	width: 250px;
	height: 180px;
	position: absolute;
	left: 50%;
	margin-left: -135px;
	top: 50%;
	margin-top: -100px;
	text-align: center;
}
#loading span{
	display: block;
	font-size: 24px;
	z-index: 9999;
	color: #000;
}
.product{
	float: left;
	margin-left: 20px;
	width: 250px;
	height: 160px;
	overflow: hidden;
	position: relative;
}
.product img{
	width: 250px;
	height: 160px;
	transform: scale(1);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	z-index: 1;
}
.product:hover img{
	transform: scale(1.2);
}
.product:hover .hd-text1,.product:hover .hd-text2,.product:hover .hd-text3{
	transform: translateY(124px);
	-moz-transform: translateY(124px);
	-o-transform: translateY(124px);
	-webkit-transform: translateY(124px);
	-ms-transform: translateY(124px);
}
.hd-text1,.hd-text2 ,.hd-text3  {
	position: absolute;
	background: #000;
	opacity: 0.7;
	width: 300px;
	text-align: left;
	z-index: 999;
}
.hd-text1,.hd-text2,.hd-text3{
	top: -34px;	
	transform: translateY(155px);
	-moz-transform: translateY(155px);
	-ms-transform: translateY(155px);
	-webkit-transform: translateY(155px);
	-o-transform: translateY(155px);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}

.hd-text1 span,.hd-text2 span,.hd-text3 span{
	font-size: 21px;
	display: block;
	margin: 8px 0 0 8px;
}
.hd-text1 p,.hd-text2 p,.hd-text3 p{
	font-size: 16px;
	margin:4px 0 0  8px;
	padding: 2px 0 8px 0;
}
.page-2-content{
	margin:90px auto;
	width: 1100px;
	height: 210px;
}
.page-2 h4{
	color: #1bbc9b;
	margin-top:10px;
	font-weight: 600;
}
.page-3  h3{
	margin-top:10px;
	color: #C81623;
	font-weight: 600;
}
.page-3 ul{
	margin:30px auto;
	width: 920px;
}
.page-3 ul li{
	text-align: left;
	font-size: 24px;
	margin-top: 12px;
	color: #000;
}
.page-4 h3{
	margin-top: 10px;
	font-weight: 600;
}
.page-4 ul{
	width: 400px;
	height: 200px;
	margin: 70px auto;
} 
.page-4 ul li{
	text-align: left;
	font-size: 26px;
	margin-top: 10px;
}

/*@media screen and (min-width:320px) and (max-width:768px){

}*/

/*
@media screen and (max-width:768px) {
	.wclimb-logo{
		display: none;
	}
	.header{
		width: 100%;
	}
	#menu {
		float: left;
		margin-top: 0;
		margin-left: 10%;
		width: 300px;
		height: 40px;
		line-height: 40px;
		
	}
	.page-2 h4{
		margin: 10% 0;
		font-size: 35px;
	}
	.page-3 h3{
		font-size: 35px;
		margin-top: 10%;
	}
	.page-3  ul{
		width:320px;
		margin: 30px auto;
	}
	.page-3  ul li{
		font-size: 17px;
		width:320px;
		margin-top: 2px;
	}
	.page-4 h3{
		font-size: 30px;
	}
	.page-4 ul{
		margin: 20% auto;
		width: 250px;
	}
	.page-4 ul li{
		font-size: 17px;
	}
	#menu li {
		margin: 0 -5px;
	}
	#menu li a{
		font-size: 20px;
	}
	.page-1 h4{
		font-size: 30px;
	}
	h6{
		font-size: 22px;
	}
	.let-begin1{
		margin-top: 10%;
	}
	.let-begin2{
		margin-top: 75%;
	}
	.let-begin3{
		margin-top: 10%;
	}
	.let-begin4{
		margin-top: 20%;
	}
	.page-2-content{
		width: 200px;
		height: 100px;
		margin: 0 0 0 14%;
	}
	.page-2-content a{
		width: 200px;
		height: 100px;
		margin-top: 10px;
	}
	.page-2-content a img{
		width: 200px;
		height: 100px;
	}
	.hd-text1,.hd-text2,.hd-text3{
		display: none;
	}
}*/
